<div class="base_box submission">
	<div class="description">
		<p>
		  <b>by:</b>
		  <%= submission.username %>
		</p>
		<p>
		  <%= submission.description %>
		</p>
	</div>
	
	<p>
		<%= image_tag(submission.picture) %>
	</p>

	<div style="clear:both"></div>

</div>