<div class="base_box submission">
	<p class="username">
	  <b>by:</b>
	  <%= submission.username %>
	</p>

	<p>
		<%= image_tag(submission.picture) %>
	</p>

	<p>
	  <%= submission.description %>
	</p>
</div>